<div class="card-client">
    <div class="user-picture">
        <img src="/images/franphoto.jpeg" alt="Foto de perfil">
    </div>
    <p class="name-client">Francisco Pfeiffer
        <span>Co-Founder & Developer</span>
    </p>
    <div class="social-media">
        <a href="https://portfoliofran.onrender.com" target="_blank">
            <i class="fa-solid fa-link"></i>
            <span class="tooltip-social">Portfolio</span>
        </a>
        <a href="https://www.instagram.com/frapfeiffer/">
            <i class="fab fa-instagram"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="https://www.linkedin.com/in/francisco-pfeiffer-a93802261/">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>
