<div class="card-client">
    <div class="user-picture">
        <img src="https://i1.sndcdn.com/artworks-ZXCdpzsXixBV2My3-kdKrjw-t500x500.jpg" alt="Foto de perfil">
    </div>
    <p class="name-client">Francisco Pfeiffer
        <span>Co-Founder & Developer</span>
    </p>
    <div class="social-media">
        <a href="#" target="_blank">
            <i class="fa-solid fa-link"></i>
            <span class="tooltip-social">Portfolio</span>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
            <span class="tooltip-social">Twitter</span>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>
