<div class="card-client">
    <div class="user-picture">
        <img src="/images/marcofoto.jpg" alt="FotoMarco">
    </div>
    <p class="name-client">Marco Savarino
        <span>Co-Founder & Developer</span>
    </p>
    <div class="social-media">
        <a href="https://marcosavarin0.github.io" target="_blank">
            <i class="fa-solid fa-link"></i>
            <span class="tooltip-social">Portfolio</span>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>
