<div class="card-client">
    <div class="user-picture">
        <i class="fas fa-user"></i>
    </div>
    <p class="name-client">Facundo Delgado
        <span>Co-Founder & Developer</span>
    </p>
    <div class="social-media">

        <a href="#">
            <i class="fab fa-instagram"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>
