<div class="card-client">
    <div class="user-picture">
        <img src="/images/facufoto.jpeg" alt="Foto de perfil">
    </div>
    <p class="name-client">Facundo Delgado
        <span>Co-Founder & Developer</span>
    </p>
    <div class="social-media">

        <a href="https://www.instagram.com/facu.delgadoo/" target="_blank">
            <i class="fab fa-instagram"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="https://www.linkedin.com/in/facundo-delgado-8826bb257/" target="_blank">
            <i class="fab fa-linkedin"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>
