<header>
  <img src="/images/LOGO.png" class="logo">
  <nav class="navbar">
    <div class="menu-toggle" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="menu-list" id="menu-list">
      <li><a href="#header">Home</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#developers">Developers</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
