<header>
  <img src="/images/LOGO.png" class="logo">
  <nav class="navbar">
    <div class="menu-toggle" >
      <i class="fas fa-bars" id="menu-toggle"></i>
    <div class="close-button" id="close-button">
      <i class="fas fa-times"></i>
    </div>
  </div>
    <ul class="menu-list" id="menu-list">
      <li ><a href="#header" class="nav-home" >Home</a></li>
      <li><a href="#about" class="nav-about">About us</a></li>
      <li><a href="#services" class="nav-service">Service</a></li>
      <li><a href="#developers" class="nav-dev">Developers</a></li>
      <li><a href="#contact" class="nav-contact">Contact</a></li>
      <li><a id="language-select" href="/es" class="nav-idiomas">&#x1F1E6;&#x1F1F7;</a></li>
      </div> 
    </ul>
  </nav>
</header>
