<header>
    <img src="/images/LOGO.png" class="logo">
    <nav class="navbar">
      <i class="fa-solid fa-bars"></i>
      <ul>
        <li><a href="#header">Home</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#developers">Developers</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>