<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/error404.css">
  <title>Document</title>
</head>
<body>
  <div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">UPS.. Page not found</div>
    <a class="back-link" href="/">Back to Page</a>
  </div>
</body>
</html>
