<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/LOGO.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>DevMinds</title>
</head>
<body>
  <header>
    <img src="/images/LOGO.png" class="logo">
    <nav class="navbar">
      <i class="fa-solid fa-bars"></i>
      <ul>
        <li><a href="#header">Home</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#developers">Developers</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <p id="header">home nashe</p>
    <div class="welcome-box">
      <h1 class="welcome-h1">
        Welcome <br>
        To DevMinds
      </h1>
      <p class="welcome-p">
        Unleashing the Power of Web Development!
      </p>
    </div>
  </section>
  <!-------------------------- about us ------------------------->
  <div id="about">
    <div class="container">
        <div class="row">
            <div class="aboutCol1">
                <h1 class="title">About Us</h1>
                <p class="about-p">Welcome to DevMinds! We are a dynamic and innovative web development company dedicated to transforming visions into reality. Our passion lies in creating exceptional web pages that not only mesmerize visitors but also empower businesses to thrive in the digital realm. As a team of skilled developers, designers, and creative minds, we take pride in delivering tailored solutions that cater to our clients' unique needs and aspirations.</p>
            </div>
            <div class="aboutCol2">
              <img src="/images/computadora.jpg" class="about-img">
            </div>
        </div>
    </div>
  </div>

<!-------------------------- developers ------------------------->
<div>
 
  <div class="container2"  id="developers">
      <h1 class="subTitle2">Developers</h1>
      <div class="servicesList">
      </div>
  </div>
</div>

<div class="developers">
<%- include('./partials/cardFran') %>
<%- include('./partials/cardFacu') %>
<%- include('./partials/cardMarco') %>
</div>
<script src="/javascripts/index.js"></script>


<!-------------------------- Contact ------------------------->

<div id="contact">
  <div class="container3">
    <div class="row2">
      <div class="contactLeft">
        <h1 class="subTitle3">Contact Us</h1>
        <p><i class="fas fa-paper-plane"></i>e-mail@ejemplo.com</p>
        <p><i class="fas fa-phone-square-alt"></i>tel num</p>
        <p><i class="fa-solid fa-location-dot"></i>Santa Fe, Argentina</p>
        <div class="socialIcons">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="contactRight">
        <input type="text" name="Name" placeholder="Your name" required>
        <input type="text" name="Email" placeholder="Your email" required>
        <textarea name="Message" rows="6" placeholder="Your message"></textarea>
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/contactForm.js"></script>

<div class="copyright">
  <p>Copyright © DevMinds. Made by DevMinds' Developer Team</p>
</div>

</body>
</html>