 *{
    background-color: #05347E;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  /* mobile first */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 90vw;
    flex-shrink: 0;
    margin: auto;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
  
  .navbar ul li {
    margin: 5px 15px; 
  }
  .navbar ul{
    display: none;
  }
  .fa-bars{
    font-size: 50px;
    background-color: #0f5ad1;
    padding: 10px;
    border-radius: 10%;
  }
  /* tablet */
  @media (min-width:560px) {
    .navbar .fa-bars {
      display: none; 
    }
    .logo{
      width: 30vw;
    }
    .navbar ul{
      display: flex;
      flex-direction: row; 
    }
  }
  /* computadoras */
  @media (min-width:768px) {
    .logo {
      width: 200px;
      margin: 0;
    }
    header {
      display: flex;
      flex-direction: row;
      align-items: center; 
      justify-content: space-between; 
    }
    .navbar ul {
      flex-direction: row; 
      padding-left: 0; 
      margin-right: 50px;
    }
    .navbar ul li {
      padding: 0 15px; 
      
    }
    .welcome-box {
      margin-top: 300px;
      padding-left: 30px;
    }
    .welcome-h1 {
      font-size: 80px;
      margin-bottom: 5px;

    }
    .welcome-p {
      font-size: 15px;
    }
/*----------------- about -----------------*/
    #about {
      padding: 80px 80px 0 0;
      color: #fff;
    } 

    .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .aboutCol1{
      padding-left: 120px;
      margin-top: 200px;
      flex-basis: 60%;
      text-align: justify;
    }
    .title {
      font-size: 60px;
      font-weight: 600;
      color: #fff;
    }
    .about-p {
      padding-right: 130px;
    }
    
  }

