 *{
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0b1017;
  }
  
  /* mobile first */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-between;
  }
  #videoBackground {
    position: relative;
    overflow: hidden;
  }
  
  .welcome-box {
    position: relative; 
    z-index: 1;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
    opacity: 0.5; 
  }
  

  #background-video::-webkit-media-controls {
    display: none !important;
  }
  
  #background-video::-webkit-media-controls-panel {
    display: none !important;
  }
  
  #background-video::media-controls-start-playback-button {
    display: none !important;
  }
  
  .section-conteiner{
    position: relative;
  }
  
  .logo {
    width: 25vw;
    flex-shrink: 0;
    margin: auto;
    background-color: black;
    order: 3;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    
  }
  
  .navbar ul li {
    margin: 5px 15px; 
    
  }


  .menu-list li{
    display: none;
  }
  .fa-bars{
    font-size: 30px;
    background-color: #000000;
    padding: 10px;
    
  }

  .homenashe {
    opacity: 0;
  }
  
  .welcome-box{
    padding: 60px 10px;
  }
  #about, .aboutCol1, .aboutCol2 {
    padding: 20px;
  }
  hr{
    border: none;
    border-top: 2px solid #3498db;
    margin: 20px auto;
    width: 50%;
  }
  /* Título */
  .title {
    text-align: center;
    margin: 10px 0;
    font-size: 28px;
    color: #fff;
  }

  /* Párrafo de descripción */
  .about-p {
    text-align: justify;
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
  }

  /* Imagen de fondo */
  .aboutCol2 {
      display: flex;
      justify-content: center;
  }
  .aboutCol2 svg {
    width: 50%;
  }
  .developers{
    margin: 20px 0px;
    text-align: center;
  }
  .card-client{
    margin-bottom: 20px;
  }

  .copyright {
    font-size: 12px;
  }

  /* computadoras */
  @media (min-width:768px) {
    hr{
      display: none;
    }
    header{
      background-color: #05337e00;
    }

    .navbar .fa-bars {
      display: none; 
    }
    .logo{
      width: 30vw;
      background-color: #05337e00;
      order: 0;
    }
    .navbar li {
      display: flex;
    }
    .navbar ul{
      display: flex;
      flex-direction: row; 
      background-color: #05337e00;
    }
    .contactRight {
      flex-basis: 45%;
      margin-top: 20px;
    }
    .container {
      margin: 5vh 100px  0 0;
      
    }
   .scroll-to-top-btn{
    display: none;
   }
    .logo {
      width: 200px;
      margin: 0;
     
    }
    .scroll-to-top-btn{
      display: none;
     }
    header {
      display: flex;
      flex-direction: row;
      align-items: center; 
      justify-content: space-between; 
      position: fixed; 
      top: 0;
      width: 100%;
      z-index: 100;
      height: 150px;
    }

    #videoBackground {
      min-height: 100vh;
      position: relative;

    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .navbar {
      background-color: transparent;
      transition: background-color 0.5s ease; 
    }
    .navbar.black-bg {
      background-color: black; 
}
    .navbar ul {
      flex-direction: row; 
      padding-left: 0; 
      margin-right: 50px;
    }
    .navbar ul li {
      font-weight: 700;
      padding: 0 15px; 
      background-color: transparent;
    }

    .navbar ul li a {
      color: #fff;
      position: relative;
    }

    .navbar ul li a::after{
      content: '';
      width: 0;
      height: 3px;
      background: #3b82f5;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
    }
    
    .navbar ul li:last-child a::after{
      content: '';
      width: 0;
      height: 3px;
      background: #3b82f500;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
    }

    .bandera{
      width: 40px;
      height: auto;
      margin-top: 7px;
    
    }

    .navbar ul li a:hover:after {
      width: 100%;
    }
    .section-conteiner{
      padding-bottom: 40vh;
    }
    .welcome-box {
      margin-top: 200px;
      padding-left: 30px;
    }
    .welcome-h1 {
      font-size: 80px;
      margin-bottom: 5px;

    }
    .welcome-p {
      font-size: 15px;
    }
/*----------------- about -----------------*/
    #about {
      padding-bottom: 0;
      color: #fff;
    } 
    
    .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .aboutCol1{
      padding-left: 120px;
      flex-basis: 60%;
      text-align: justify;
    }

    .aboutCol1 p {
      line-height: 1.7;
      
    }

    .title {
      font-size: 60px;
      font-weight: 600;
      color: #fff;
      text-align: justify;
    }
    .about-p {
      padding-right: 100px;
      text-align: justify;
      margin-left: 0;
    }
    .aboutCol2 svg {
        width: 100%;
    }
    .contactRight {
      flex-basis: 45%;
      margin-top: 20px;
    }
    .close-button{
      opacity: 0;
    }
  }

  /* Variables */
:root {
  --background-color: #0b1017;
  --content-background-color: #0e2140ce;
  --content-background-gradient: #142d55ce;
  --time-color: #fff;
  --text-color: #fff;
  --content-width: 450px;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Timeline */
.timeline {
  color: var(--text-color);
}

.timeline h1,
.timeline ul li .content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}

.timeline h1 {
  background: var(--title-background);
  padding: 70px 0;
  font-size: 2.5em;
  text-align: center;
}

.timeline ul {
  background: var(--background-color);
  padding: 50px 0;
}

.timeline ul li {
  background: var(--content-background-color);
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}

.timeline ul li:last-child {
  padding-bottom: 7px;
  
}

.timeline ul li:before {
  content: '';
  background: var(--background-color);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid var(--content-background-color);
  border-radius: 50%;
}

.timeline ul li .hidden {
  opacity: 0;
}

.timeline ul li .content {
  background: var(--content-background-color);
  position: relative;
  top: 7px;
  width: var(--content-width);
  padding: 20px;
}

.timeline ul li .content h2 {
  color: var(--time-color);
  padding-bottom: 10px;
  text-align: center;
  opacity: 0.8;
}

.timeline ul li .content p {
  text-align: center;
  opacity: 0.8;
  line-height: 1.5;
}

.timeline ul li:nth-child(odd) .content {
  left: 50px;
  background: var(--content-background-color);
  background: -webkit-linear-gradient(-45deg, var(--content-background-gradient) , var(--content-background-color));
  background: linear-gradient(-45deg,  var(--content-background-gradient) , var(--content-background-color));
}

.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}

.timeline ul li:nth-child(even) .content {
  left: calc(-1 * var(--content-width) - 45px);
  background: var(--content-background-color);
  background: -webkit-linear-gradient(45deg, var(--content-background-gradient) , var(--content-background-color));
  background: linear-gradient(45deg,  var(--content-background-gradient) , var(--content-background-color));
}

.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

/* Media Queries */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }

  .timeline ul li:nth-child(even) .content {
    left: calc(-1 * 41vw - 45px);
  }
}

@media screen and (max-width: 768px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li .content {
    width: calc(100vw - 100px);
  }

  .timeline ul li:nth-child(even) .content {
    left: 45px;
    background: var(--content-background-color);
    background: -webkit-linear-gradient(-45deg, var(--content-background-gradient) , var(--content-background-color));
    background: linear-gradient(-45deg,  var(--content-background-gradient) , var(--content-background-color));
  }

  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}

/* -------------------- services --------------------- */
.container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10vw;
}
#services {
  padding: 2rem 0;
}

.titleSer {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.servicesList,
.extendedServices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  grid-gap: 40px;
  margin-top: 50px;
  margin-right: 85px;
  margin-left: 85px;
}

.servicesList div,
.extendedServices div {
  background: #0e2140ce;
  padding: 40px;
  font-size: 14px;
  font-weight: 350;
  border-radius: 7px;
  transition: background 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.servicesList p , .extendedServices p{
  opacity: 0;
}
.servicesList div:hover p , .extendedServices div:hover p{
  opacity: 1;
  transition: all 0.5s ease-in;
}
.servicesList div i,
.extendedServices div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.servicesList div h2,
.extendedServices div h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.servicesList div:hover,
.extendedServices div:hover {
  transform: translateY(-10px);
  box-shadow: 20px 22px 13px -3px rgba(0, 0, 0, 0.249);
}
@media (max-width:768px) {
  .servicesList div,
.extendedServices div{
  text-align: center;
}
.container2 h2{
  font-size: 40px;
} 
}


/* -------------------- developers --------------------- */
  
  .developers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21vh;
  justify-content: space-around;
  
  }

  .card-client {
    background: #0e2140;
    width: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #a6a6a6;
    box-shadow: 0 6px 10px #212121;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    background-color: #0e2140;
    width: 5rem;
    height: 5rem;
    border: 4px solid #fff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative; 
  }
  
  /* Estilo de la imagen */
  .user-picture img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 999px;
  }
  .name-client {
    background-color: #0e2140;
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    background-color: #0e2140;
    display: block;
    font-weight: 200;
    font-size: 16px;
  }

  .social-media {
    background-color: #0e2140;
  }

  .social-media i{
    background-color: #0e2140;
    font-size: 23px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #fff;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
  .subTitle2{
    font-size: 60px;
  }

  .dev-title-es{
    font-size: 60px;
  }
  /* <------------------- contact ------------------------------- > */

  .container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para la sección "Contact Us" */
  #contact {
    padding: 50px 0;
    background-color: #202020;
  }
  
  .subTitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .contactLeft {
    flex-basis: 50%;
  }
  
  .contactRight {
    
    margin-top: 20px;
  }
  
  .contactRight input,
  .contactRight textarea {
    width: 100%;
    padding: 10px;
    background-color: #d0d0d0;
    color: #000;
    border: 1px solid #cacaca;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .contactRight textarea {
    resize: vertical;
  }

  .subTitle3 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .contactLeft p {
    padding: 10px;
    padding-right: 50px;
  }

  .contactLeft p a {
    display: inline;
    margin: 0;
  }

  .contactLeft p i {
    display: inline;
    padding-right: 10px;
    font-size: 25px;
  }

  .socialIcons {
    padding: 15px 0 10px 10px;
  }
  
  .socialIcons a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: 24px;
  }
  
  button {
    background-color: #0b2c60;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a3a9e4;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #111111;
  }

.welcome-h1 {
  opacity: 0; 
  transform: translateY(-20px); 
  transition: opacity 2s, transform 2s; 
}
#services {
  opacity: 0;
  transform: translateY(30px); 
  transition: opacity 1s ease, transform 1s ease;
}

#services.show {
  opacity: 1;
  transform: translateY(0);
}
.welcome-h1.show {
  opacity: 1; 
  transform: translateY(0); 
}
#about {
  opacity: 0;
  transition: opacity 1s ease; 
}

#about.show {
  opacity: 1; 
  
}

.developers-main .container2.show {
  opacity: 1;
  transition: opacity 0.5s ease;

}


.developers-main .container2 {
  opacity: 0;
}

.developers-main .developers.show {
  opacity: 1;
  transition: opacity 1s ease;

}


.developers-main .developers {
  opacity: 0;
}

:target:before {
  content: "";
  display: block;
  height: 200px;
  margin: -100px 0 0; 
}


body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(11, 11, 11);   
  border-radius: 20px;       
  
}

/* navbar desplegable */
@media screen and (max-width: 760px){ 
  .scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out forwards; 
}
 
.bandera{
  width: 45px;
  height: auto;
  margin-top: 7px;

}

@keyframes fadeIn { 
  0% { 
    opacity: 0; 
    transform: translateY(20px); 
  } 
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  } 
} 

.scroll-to-top-btn:hover {
    background-color: #0056b3;
}
  .navbar {
    display: block;
    width: 100%;
  }
  .fa-bars{
    margin: 0 1%;
  }
  .show-menu li{
    display: flex;
    z-index: 1;
    padding: 5px;
  }
  .menu-list {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    transition: left 0.5s ease-in-out;
  }
  .show-menu{
    background-color: #000000;
    left: 0;
  }
  .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    opacity: 0;
  }
  .show-cruz {
    opacity: 1;
  }
  .close-button:hover {
    color: #fbfbfb;
  }
}


.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


