 *{
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #05347E;
  }
  
  /* mobile first */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 5px;
  
  }
  
  .logo {
    width: 35vw;
    flex-shrink: 0;
    margin: auto;
    background-color: black
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    
  }
  
  .navbar ul li {
    margin: 5px 15px; 
    
  }
  .navbar ul{
    display: none;
  }
  .fa-bars{
    font-size: 30px;
    background-color: #000000;
    padding: 10px;
    
  }

  section p {
    opacity: 0;
  }
  
  .welcome-box{
    padding: 50px 10px;
  }
  .title{
    text-align: center;
  }
  .about-p{
    text-align: center;
    
  }
  .aboutCol2{
    display: flex;
    justify-content: center;
  }
  #about, .row ,.aboutCol1, .title , .about-p, .aboutCol2,.about-img{
    background-color: #05347E;
  }
  .about-img, .title{
    margin: 15px 0 ;
  }
  #about{
    padding-bottom: 10px;
  }

  .container {
    margin: 400px 0;
  }

  .subTitle2{
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
  }
  .developers{
    margin-bottom: 10px;
    text-align: center;
  }
  .card-client{
    margin-bottom: 20px;
  }
  /* tablet */
  @media (min-width:560px) {
    header{
      background-color: #05337e00;
    }
    .navbar .fa-bars {
      display: none; 
    }
    .logo{
      width: 30vw;
      background-color: #05337e00;
    }
    .navbar ul{
      display: flex;
      flex-direction: row; 
      background-color: #05337e00;
    }
   
  }
  /* computadoras */
  @media (min-width:768px) {
    .logo {
      width: 200px;
      margin: 0;
     
    }
    header {
      display: flex;
      flex-direction: row;
      align-items: center; 
      justify-content: space-between; 
      position: fixed; /* Cambia a 'fixed' */
      top: 0; /* Asegura que el header esté en la parte superior de la página */
      width: 100%; /* Asegura que el header ocupe todo el ancho */
      z-index: 100;
    }

    .navbar {
      background-color: transparent;
      transition: background-color 0.5s ease; 
    }
    .navbar.black-bg {
      background-color: black; /* Cambia el color a negro */
}
    .navbar ul {
      flex-direction: row; 
      padding-left: 0; 
      margin-right: 50px;
    }
    .navbar ul li {
      padding: 0 15px; 
      background-color: transparent;
    }

    .navbar ul li a {
      color: #fff;
      position: relative;
    }

    .navbar ul li a::after {
      content: '';
      width: 0;
      height: 3px;
      background: #3b82f5;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
    }

    .navbar ul li a:hover:after {
      width: 100%;
    }

    .welcome-box {
      margin-top: 300px;
      padding-left: 30px;
    }
    .welcome-h1 {
      font-size: 80px;
      margin-bottom: 5px;

    }
    .welcome-p {
      font-size: 15px;
    }
/*----------------- about -----------------*/
    #about {
      padding: 80px 80px 0 0;
      color: #fff;
    } 
    
    .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .aboutCol1{
      padding-left: 120px;
      flex-basis: 60%;
      text-align: justify;
    }

    .aboutCol1 p {
      line-height: 1.5;
      
    }

    .title {
      font-size: 60px;
      font-weight: 600;
      color: #fff;
      text-align: justify;
    }
    .about-p {
      padding-right: 130px;
      text-align: justify;
      margin-left: 14px;
    }
    
    .aboutCol2 img {
      width: 650px;
    } 
  }
/* -------------------- developers --------------------- */
  
  .developers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-around;
  }

  .card-client {
    background: #0b2c60;
    width: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #a6a6a6;
    box-shadow: 0 6px 10px #212121;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    background-color: #0b2c60;
    width: 5rem;
    height: 5rem;
    border: 4px solid #fff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative; 
  }
  
  /* Estilo de la imagen */
  .user-picture img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 999px;
  }
  .name-client {
    background-color: #0b2c60;
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    background-color: #0b2c60;
    display: block;
    font-weight: 200;
    font-size: 16px;
  }

  .social-media {
    background-color: #0b2c60;
  }

  .social-media i{
    background-color: #0b2c60;
    font-size: 23px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #fff;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }


  /* <------------------- contact ------------------------------- > */

  .container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para la sección "Contact Us" */
  #contact {
    padding: 50px 0;
    background-color: #333;
  }
  
  .subTitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .contactLeft {
    flex-basis: 50%;
  }
  
  .contactRight {
    flex-basis: 45%;
    margin-top: 20px;
  }
  
  .contactRight input,
  .contactRight textarea {
    width: 100%;
    padding: 10px;
    background-color: #a8a8a8;
    color: #000;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .contactRight textarea {
    resize: vertical;
  }

  .subTitle3 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .contactLeft p {
    padding: 10px;
  }

  .contactLeft p i {
    padding-right: 10px;
    font-size: 25px;
  }

  .socialIcons {
    padding: 15px 0 10px 10px;
  }
  
  .socialIcons a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: 24px;
  }
  
  button {
    background-color: #0b2c60;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a3a9e4;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
  }